<p class="pagination">

	{{#previous_page}}
		<a href="{{url}}">{{previous_page_label}}</a>
	{{/previous_page}}
	{{^previous_page}}
		<span class="inactive">{{previous_page_label}}</span>
	{{/previous_page}}

	<span class="inactive">| {{page}} |</span>
	<span class="inactive">{{items}} |</span>

	{{#next_page}}
		<a href="{{url}}">{{next_page_label}}</a>
	{{/next_page}}
	{{^next_page}}
		<span class="inactive">{{next_page_label}}</span>
	{{/next_page}}
</p>
